/* Method.css */
.slide-in {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateY(0);
    opacity: 1;
}

.sliding {
    transform: translateY(-100%);
    opacity: 0;
}
